.todo-item {
    padding: 7px 10px;
    background-color: #f1f1f1;
    margin-top: 15px;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-ctrl {
    display: flex;
    align-items: center;
}
