.create-todo {
    width: 30%;
}

.create-todo h2 {
    margin-bottom: 20px;
    padding: 8px 0;
}

.create-todo input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.create-todo input:focus {
    outline: none;
}


